* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap {
	max-width: 1200px;
	height: 6500px;
	margin: auto;
	overflow: hidden;
}
.thanh-menu {
	width: 100%;
	height: 125px;
	margin: auto;
	position: relative;
	list-style-type: none;
    border: 1px solid #ddd;
}
.thanh-menu a {
	text-decoration: none;
	font-family: Arial;
	color: black;
	font-size: 17px;
}
.thanh-menu a:hover {
	text-decoration: none;
}
.thanh-menu a:active {
	border-bottom: 2px solid black;
}
.anh-menu {
	width: 15%;
	height: 170px;
	margin: auto;
	margin-top: -1.8%;
}
.anh-menu img {
	width: 100%;
	height: 100%;
}
.trangchu {
	width: 85px;
	height: 40px;
	float: left;
	margin-top: -95px;
	margin-left: 100px;
}
.trangchu a:hover {
	border-bottom: 1px solid black;
}
.trangchu a {
	margin: auto;
}
.hethong {
	width: 85px;
	height: 40px;
	float: left;
	margin-top: -95px;
	margin-left: 245px;
}
.hethong a:hover {
	border-bottom: 1px solid black;
}
.sanpham {
	width: 85px;
	height: 40px;
	float: left;
	margin-top: -95px;
	margin-left: 380px;
}
.sanpham a:hover {
	border-bottom: 1px solid black;
}
.tintuc {
	width: 85px;
	height: 40px;
	float: right;
	margin-top: -95px;
	margin-right: 85px;
}
.tintuc a:hover {
	border-bottom: 1px solid black;
}
.gioithieu {
	width: 85px;
	height: 40px;
	float: right;
	margin-top: -95px;
	margin-right: 240px;
}
.gioithieu a:hover {
	border-bottom: 1px solid black;
}
.lienhe {
	width: 85px;
	height: 40px;
	float: right;
	margin-top: -95px;
	margin-right: 370px;
}
.lienhe a:hover {
	border-bottom: 1px solid black;
}
.anhtrangchu {
	width: 100%;
	height: 10px;
	margin: auto;
	margin-top: 2%;
}
.anhtrangchu img {
	width: 100%;
	height: 100%;
}
.anhsanpham {
	width: 90%;
	height: 8%;
	margin-top: 70%;
	margin-left:5%;
	position: relative;
}
.anhsanpham img {
	width: 100%;
	height: 100%;
}
.w3-content {
	width: 100%;
	height: 100%;
}
.muangay {
	width: 6%;
	height: 0.7%;
	margin: auto; 
	margin-top: -9%;
	margin-right: 41.5%;
}
.muangay a {
	text-align: center;
	color: white;
	font-family: georgia;
	font-size: 15px;
	text-decoration: none;
}
.muangay a:hover {
	text-decoration: none;
	color: #ddd;
}
.muangay button {
	width: 100%;
	height: 100%;
	background-color: #6c6868;
}
b {
	font-size: 20px;
}
.khungdt {
	width: 3.5%;
	height: 0.7%;
	margin-left: 60%;
	margin-top: -3.8%;
}
.khunganhvv img {
	width: 100%:
	height: 100%;
}
.khungdt img {
	width: 100%;
	height: 100%;
}
.khungkn {
	width: 98%;
	height: 8%;
	border: 2px solid #ddd;
	border-right: white;
	border-left: white;
	margin: auto;
	margin-top: 10%;
	font-size: 20px;
}
.khungkn img {
	width: 100%;
	height: 100%;
}
.khunganhkn {
	width: 22%;
	height: 6%;
	margin-top: 180px;
	margin-left: 427px;
	position: absolute;
	color: white;
}
.khunganhkn b {
	font-family: Blackadder ITC;
	font-size: 45px;
}
.khunganhvv {
	width: 52%;
	height: 95%;
	float: right;
	margin-top: -14.5%;
}
.khunganhvv img {
	width: 45%;
	height: 90%;
	float: left;
	margin: 1.8%;
}
.anhvvfake {
	width: 99%;
	height: 8%;
	margin: auto;
	margin-top: 4%;
}
.anhvvfake img {
	width: 24%;
	height: 47.5%;
	float: left;
	margin: 0.5%;
}
.khungnx {
	width: 98%;
	height: 10%;
	margin: auto;
	margin-top: 5%;
	position: relative;
}
.khungnx img {
	width: 100%;
	height: 100%;
}
.nx1 {
	width: 28%;
	height: 65%;
	float: left;
	background-color: #ffffffbd;
	position: absolute;
	margin-top: -40%;
    margin-left: 6%;
}
.nx2 {
	width: 28%;
	height: 65%;
	background-color: #ffffffbd;
	position: absolute;
	margin-left: 36%;
	margin-top: -40%;
}
.nx3 {
	width: 28%;
	height: 65%;
	background-color: #ffffffbd;
	position: absolute;
	margin-left: 66%;
	margin-top: -40%;
}
.nxkh {
	width: 35%;
	height: 7%;
	position: absolute;
	margin-top: -47%;
	margin-left: 35%;
	color: white;
}
.nxkh b {
	font-size: 30px;
	margin-left: 6%;
}
.anhkh1 {
	width: 35%;
	height: 25%;
	margin: auto;
	margin-top: 4%;
}
.anhkh1 img {
	width: 100%;
	height: 100%;
}
.bv {
	width: 75%;
	height: 60%;
	margin: auto;
	margin-top: 5%;
}
.bv p {
	font-size: 17px;
}
.bv b {
	font-size: 15px;
}
.khungtt {
	width: 15%;
	height: 1%;
	margin: auto;
	margin-top: 8%;
}
.khungtt b {
	font-size: 30px;
	margin-left: 20%;
}
.khungtintuc {
	width: 98%;
	height: 15%;
	margin: auto;
	margin-top: 2.5%;
}
.khungtintuc img {
	width: 30%;
	height: 40%;
	margin-left: 2.2%;
	margin-top: 0.9%;
}
.tt1 {
	width: 5%;
	height: 3%;
	margin-left: 2.22%;
	margin-top: 1%;
}
.tt2 {
	width: 5%;
	height: 3%;
	margin-left: 34.65%;
	margin-top: -2.2%;
}
.tt3 {
	width: 5%;
	height: 3%;
	margin-left: 67.12%;
	margin-top: -2.2%;
}
.khunggt {
	width: 30%;
	height: 30%;
	margin-left: 2.2%;
	margin-top: 1%;
}
.khunggt b {
	font-size: 18px;
}
.khunggt1 {
	width: 30%;
	height: 30%;
	margin-left: 34.6%;
	margin-top: -24.8%;
}
.khunggt1 b {
	font-size: 18px;
}
.khunggt2 {
	width: 30%;
	height: 30%;
	margin-left: 67%;
	margin-top: -24.8%;
}
.khunggt2 b {
	font-size: 18px;
}
.khungtintuc b {
	font-family: Segoe UI;
}
.khungtintuc a:hover  {
	text-decoration: none;
	color: red;
}
.khungtintuc a {
	color: black;
	text-align: center;
}
.xt1 {
	width: 8%;
	height: 4%;
	margin-top: -13.5%;
	margin-left: 2.2%;
	font-size: 18px;
}
.xt1 b {
	font-size: 18px;
}
.xt2 {
	width: 8%;
	height: 4%;
	margin-top: -3.2%;
	margin-left: 34.6%;
	font-size: 18px;
}
.xt2 b {
	font-size: 18px;
}
.xt3 {
	width: 8%;
	height: 4%;
	margin-top: -3.2%;
	margin-left: 67%;
	font-size: 18px;
}
.xt3 b {
	font-size: 18px;
}
.kavv {
	cursor: pointer;
	overflow: hidden;
	width: 49%;
	height: 100%;
	transition: all 0.5s ease;
}
.gll {
	width: 98%;
	height: 9%;
	margin: auto;
	margin-top: -15%;
}
.gll img {
	width: 100%;
	height: 100%;
}
.giu-ll {
	width: 11%;
	height: 5%;
	margin-top: -29.5%;
	position: absolute;
	margin-left: 54%;
}
.giu-ll b {
	font-size: 30px;
	font-family: Segoe UI;
	color: white;
}
.giu-ll1 {
	width: 35%;
	height: 5%;
	margin-left: 54%;
	position: absolute;
	margin-top: -26%;
}
.giu-ll1 p {
	color: white;
}
.dn-email {
	position: absolute;
	margin-top: -24%;
	margin-left: 54%;
}
#email {
	width: 320px;
	height: 40px;
	font-size: 17px;
	background-color: #ffffffa8;
}
#email1 {
	width: 100px;
	height: 40px;
}
.carousel-inner h5 {
	text-align: center;
	font-size: 15px;
	color: brown;
}
.container {
	margin-top: -25%;
	color: white;
	padding: 2px;
}
#email {
	width: 320px;
	border: 0.5px solid white;
}
#password {
	width: 320px;
	background-color: #ffffffa8;
	border: 0.5px solid white;
}
.form-group {
	margin-left: -21.59%;
}
.test1 {
	background-color: white;
}
.container {
	margin-left: 350px;
	margin-top: -400px;
}
.input-group {
	margin-left: 80px;
}
.btn-default {
	margin-left:14%; 
	width: 200px;
}
h3 {
	font-size: 30px;
}
.container1 h2 {
	font-size: 19px;
}
.btn-info1 {
	margin-left: 5px;
}
.btn-info2 {
	margin-left: 15px;
}
.moveTop {
	position: fixed;
	width: 50px;
	height: 50px;
	display: none;
	right: 10px;
	bottom: 60px;
	cursor: pointer;
	line-height: 60px;
}
.moveTop img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
#scropllTop {
  	display: block;
  	position: absolute;
  	right: 0;
  	bottom: -10px;
  	}
.fixed {
    position: fixed;
    z-index: 10000;
    top: -17px;
    max-width: 1200px;
    border: 1px solid #ddd;
    height: 15%;
    background-color: #ffffff8c;
 }
 .fixed a {
  color: brown;
 }
.w3-content {
	width: 100%;
	height: 100%;
	background-color: red;
	position: absolute;
}
 .khunganhbadao {
 	width: 50%;
 	height: 70%;
 	margin-top: 7%;
 	margin-left: 2%;
 }
.w3-light-grey {
	margin-top: 49%;
}
.khunganhbadao1 {
	width: 40%;
	height: 70%;
	background-color: yellow;
	position: absolute;
	margin-left: 530px;
	margin-top: -365px;
}