h1 {
	background-color: black;
	color: white;
	font-size: 60px;
}
.menu {
	background-color: #43759b;
	 margin-top: -50px;
	 padding: 5px;
}
.menu a {
	text-decoration: none;
	font-size: 20px;
	color: white;
    margin: 33px;
}
.menu a:hover, #menu a.active {
	color: white;
    border-bottom: 2px solid #00ffff;
}
.menu a.active {
	font-weight: bold;
    border-bottom: 2px solid #00ffff;
}
