* {
	box-sizing: border-box;
}

h1 {
	font-size: 24px;
}

#main-menu a {
	font-size: 20px;
	color: yellow;
	text-decoration: none;
	padding: 20px;
	font-style: italic;
}
#main-menu a:hover, #main-menu a.active {
	color: black;
}
#main-menu a.active {
	font-weight: bold;
}
img {
	max-width: 100%;
	max-height: 300px;
}
.wrap {
	max-width: 1000px;
	margin: auto;
}
.box {
	
	float: left;
	width: 33.3333%;
	padding: 15px;
}

.box img {
	height: 150px;
	width: 100%;
}
#main-menu {
	text-align: center;
	background-color: purple;
}
h1 {
	font-style: italic;
	color: red;
	font-family: cursive;
	text-align: center;
}
h2 {
	color: red;
	font-style: italic;
}
.box p {
	height: 20px;
	color: green;
	text-align: center;
}
.box img:hover {
	border-radius: 50%;
	border: 2px solid red;

}