h1 {
	font-size: 24px;
}
#main-menu a {
	font-size: 20px;
	color: #737373;
	text-decoration: none;
}
#main-menu a:hover, #main-menu a.active {
	color: black;
}
#main-menu a.active {
	font-weight: bold;
}

img {
	max-width: 100%;
	max-height: 300px;
}
.box {
	border: 1px solid #dddddd;
	border-top-width: 5px;
}

.info {
	border-color: #76a7fa;
}
.contact {
	border-color: #f9b256;
}
.company {
	border-color: #4dbfd9;
}