
.box {
	
	float: left;
	width: 30%;
	padding: 15px;
	margin: 0;
	padding: 15px;
	margin: 5px;
}

.info span {
	color: #76a7fa;
}

.info {
	border-color: #76a7fa;
}

.contact span {
	color: #f9b256;
}
.contact {
	border-color: #f9b256;
}

.company span {
	color: #4dbfd9;
}

.company {
	border-color: #4dbfd9;
}

